<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CXMS - Games</title>

        <!-- Open Graph tags -->
        <meta property="og:title" content="CXMS - Games" />
        <meta property="og:description" content="Optimization, Efficiency, Process Mapping, and IT Solutions to enhance your business processes and customer experience." />
        <meta property="og:image" content="https://cxms-fb8404aba0d4.herokuapp.com/static/images/process-mapping-background1.jpeg" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="www.cxms.fr/games" />
        <!-- End Open Graph tags -->

    <link rel="stylesheet" href="../static/css/style.css?v=1">
    <link rel="icon" type="image/jpeg" href="../static/images/cxms-favicon1.jpeg">

</head>
<body>
  <div class="container">
    <div id="carousel" class="carousel">
      <div class="carousel-item" id="item-country-game">
        <div class="text-container">
            <h3>Guess the Country Game</h3>
            <div id="game-container">
              <p id="question">Which country is this?</p>
              <img id="country-outline" src="" alt="Country Outline" style="width: 300px; height: auto;">
              <div id="options-container"></div>
              <p id="score">Score: <span id="score-value">0</span></p>
              <p id="streak">Streak: <span id="streak-value">0</span></p>
          </div>
        </div>
    </div>
        <div class="carousel-item">
            <div class="image-container" style="background-image: url('../static/images/optimisation-background1.jpeg');">
            </div>
            <div class="text-container">
                Guess the country
            </div>
        </div>
        <div class="carousel-item">
            <div class="image-container" style="background-image: url('../static/images/efficiency-background1.jpeg');">
            </div>
            <div class="text-container">
                Game 2
            </div>
        </div>
        <div class="carousel-item">
            <div class="image-container" style="background-image: url('../static/images/process-mapping-background1.jpeg');">
            </div>
            <div class="text-container">
                Game 3
            </div>
        </div>
    </div>
    <button id="prev" class="carousel-button left"></button>
    <button id="next" class="carousel-button right"></button>
    <a href="style-guide">Style Guide</a>
    <a href="index">Home Page</a>
</div>

    <script src="../static/js/script.js"></script>
    <script src="../static/js/country-game.js"></script>

</body>
</html>
