<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CXMS - Customer Experience Management Systems</title>
    <link rel="stylesheet" href="../static/css/style.css?v=1">
    <link rel="icon" type="image/jpeg" href="../static/images/cxms-favicon1.jpeg">

</head>
<body>
  <div class="container">
    <div id="carousel" class="carousel">
        <div class="carousel-item">
            <div class="image-container" style="background-image: url('../static/images/optimisation-background1.jpeg');">
            </div>
            <div class="text-container">
                Optimization: Enhance your business processes for peak performance.
            </div>
        </div>
        <div class="carousel-item">
            <div class="image-container" style="background-image: url('../static/images/efficiency-background1.jpeg');">
            </div>
            <div class="text-container">
                Efficiency: Streamline operations to save time and reduce costs.
            </div>
        </div>
        <div class="carousel-item">
            <div class="image-container" style="background-image: url('../static/images/process-mapping-background1.jpeg');">
            </div>
            <div class="text-container">
                Process Mapping: Visualize and understand your customer journeys for better customer experience and to improve your NPS.
            </div>
        </div>
        <div class="carousel-item">
            <div class="image-container" style="background-image: url('../static/images/image4.jpg');">
            </div>
            <div class="text-container">
                IT Solutions: Create bespoke software solutions for your everyday business problems.
            </div>
        </div>
    </div>
    <button id="prev" class="carousel-button left"></button>
    <button id="next" class="carousel-button right"></button>
</div>

    <script src="../static/js/script.js"></script>
</body>
</html>
