<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CXMS - Customer Experience Management Systems</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="container">
        <div id="carousel" class="carousel">
            <div class="carousel-item" style="display: block;">Optimization: Enhance your business processes for peak performance.</div>
            <div class="carousel-item">Efficiency: Streamline operations to save time and reduce costs.</div>
            <div class="carousel-item">Process Mapping: Visualize and understand your workflows for better management.</div>
        </div>
        <button id="prev" class="carousel-button">Prev</button>
        <button id="next" class="carousel-button">Next</button>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>
