<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CXMS Style Guide</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" type="image/jpeg" href="../static/images/cxms-favicon1.jpeg">

    <style>
        /* Custom CSS */
        .color-square {
            width: 50px;
            height: 50px;
            margin-right: 10px;
            display: inline-block;
            border: 1px solid #000;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="carousel">
            <div class="carousel-item" id="item-introduction">
              <div class="image-container" style="background-image: url('../static/images/optimisation-background1.jpeg');">
              </div>
                <div class="text-container">
                    <h2>CXMS Color Scheme and Style Guide</h2>
                    <p>Introduction</p>
                    <p>This document provides a detailed guide to the color scheme, fonts, and design styles used in the visual assets created for CXMS. It aligns with the company’s values and mission to optimize business processes, enhance efficiency, and improve customer experience through innovative IT solutions.</p>
                </div>
            </div>
            <div class="carousel-item" id="item-color-palette">
                <div class="text-container">
                    <h3>Color Palette</h3>
                    <p>Primary Colors:</p>
                    <div class="color-square" style="background-color: #0000FF;"></div> <!-- Electric Blue -->
                    <div class="color-square" style="background-color: #800080;"></div> <!-- Vibrant Purple -->
                    <div class="color-square" style="background-color: #00FF00;"></div> <!-- Fluorescent Green -->
                    <p>Secondary Colors:</p>
                    <div class="color-square" style="background-color: #FFFF00;"></div> <!-- Bright Yellow -->
                    <div class="color-square" style="background-color: #4A646C;"></div> <!-- Deep Space Sparkle -->
                </div>
            </div>
            <div class="carousel-item" id="item-typography">
              <div class="text-container">
                  <h3>Typography</h3>
                  <p>Primary Font: Roboto - Modern, clean, and highly legible. Used for headings and high-impact text to convey clarity and precision.</p>
                  <p>Secondary Font: Open Sans - Friendly and readable. Used for body text to ensure excellent readability and comfort in long-form reading.</p>
              </div>
          </div>
          <div class="carousel-item" id="item-color-usage-examples">
              <div class="text-container">
                  <h3>Color Usage Examples</h3>
                  <p>Backgrounds: Use deep blues and purples to create a sense of depth and space, while accentuating with greens and yellows to highlight key content.</p>
                  <p>Buttons and Call to Actions: Employ fluorescent green to draw attention and encourage user interaction.</p>
                  <p>Graphs and Analytics: Utilize the full spectrum of the color palette to differentiate data points and drive visual engagement.</p>
              </div>
          </div>
          <div class="carousel-item" id="item-psychological-impact">
              <div class="text-container">
                  <h3>Psychological Impact and Alignment with Company Values</h3>
                  <p>Trust and Security: The use of blue instills a sense of security, aligning with CXMS's value of trustworthiness.</p>
                  <p>Innovation and Expertise: Purple is often associated with wisdom, aligning with CXMS’s innovative and expert approach.</p>
                  <p>Growth and Success: Green is the color of growth, mirroring the company’s goal to assist client growth and success.</p>
              </div>
          </div>
          <div class="carousel-item" id="item-technical-specifications">
              <div class="text-container">
                  <h3>Technical Specifications for Web Development</h3>
                  <p>Hex Codes:</p>
                  <ul>
                      <li>Electric Blue: #0000FF</li>
                      <li>Vibrant Purple: #800080</li>
                      <li>Fluorescent Green: #00FF00</li>
                      <li>Bright Yellow: #FFFF00</li>
                      <li>Deep Space Sparkle: #4A646C</li>
                  </ul>
                  <p>CSS Snippets:</p>
                  <ul>
                      <li>For backgrounds: background-color: #800080;</li>
                      <li>For highlights: color: #00FF00;</li>
                      <li>For neutral elements: color: #4A646C;</li>
                  </ul>
              </div>
          </div>
          <div class="carousel-item" id="item-conclusion">
              <div class="text-container">
                  <h3>Conclusion</h3>
                  <p>The color scheme and design styles presented in this document are crafted to embody the essence of CXMS and to be used as a guide for all digital and print media. Consistent use of these elements will reinforce the brand identity and aid in the company’s growth and success.</p>
              </div>
          </div>
      </div>
    </div>
    <button id="prev" class="carousel-button left"></button>
    <button id="next" class="carousel-button right"></button>
    <script src="../static/js/script.js"></script>
</body>
</html>
